/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2016, 9:47:59 AM
    Author     : Pradeep
*/


/* HTML index.php*/

.Body{
  /*background-color:#0d9ccb*/
}
.Header{
    padding:10px;
    min-height: 200px;
	
    /*background-color: indianred;*/
}
.div_search{
    min-height: 300px;
    padding-left:30px;
    padding:10px;
    /*background-color:#ff3333*/

}
.div_search H4{
    text-align: center
}
.div_search input, select{
    width: 200px
}
.div_sel{
    padding:10px;
    /*background-color: springgreen*/
}
.ser_image{
    min-height: 370px;
   /* background-color: wheat;*/
}
.form_sel{
    padding:10px;
    /*background-color: olivedrab*/
}
.ser_submit{
    text-align: center
}
.ser_form_occ{
    text-align: center; 
}
.ser_occ_name{
    text-align: center;
    padding:10px
}
.ser_occ_date{
    text-align: center;
    padding:10px
}
.ser_title{
    padding-right:30%
}
.ser_occ_place{
    text-align: center;
    padding:10px        
}
.footer{
	background-color:#0d9ccb;
}



/* stall_list.php */
.Page2{
}
.HeaderPage2{
	padding-bottom:50px;
	padding-top:50px;
    max-height: 150px;
}
.stall_list{
	max-height:700px;
	overflow:auto;
}
.stall_list dd {
	padding-bottom:5px;
	text-align:Left;
}

